.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconContainer {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 18px;
  height: 18px;
  background: #ababab;
  border: 0.1px solid #ababab;
  border-radius: 5px;
  font-size: 20px;
  padding: 0%;
}
.check {
  background: none;
}
.content {
  width: 90%;
}
p {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #757575;
}
/* icon / tickbox */
