h3 {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 5px;
  /* border: 0.1rem solid black; */
}
h1 {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 10px 5px;
  /* border: 0.1rem solid black; */
}
