.container {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.content {
  font-family: 'Interstate';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  /* text-align: center; */
  margin-right: 5px;
  width: 50%;
  /* border: 0.1rem solid black; */
}
.line {
  border-bottom: 1.5px solid #000000;
  width: 50%;
  height: 0px;
}
/* Or use your email for registration */

/* Line 37 */
