.btn {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: center;
  border: 0.1px solid #3c71ff;
}
.btn:hover {
  background-color: #3c71ff;
  color: white;
}
.btn:hover p {
  color: white;
}
.btn .icon {
  color: #3c71ff;
}
.btn:hover .icon {
  color: white;
}

.btn p {
  margin-left: 10px;
  font-weight: bold;
  color: black;
}
